/*
-------CATALOG_PAGE--------
*/
.add-resource-btn {
  border: 2px solid gray;
  border-radius: 20px;
  width: fit-content;
  margin: 20px auto;
  padding: 2px 5px;
}

.add-resource-btn:hover {
  border-color: rgba(34, 154, 184, 0.863);
}

.ctn-catalog-page-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18.5em;
  height: auto;
  border: 5px solid purple;
  margin-right: auto;
}
/* ------------RIGHT SIDE  */
.ctn-catalog-page-right {
  position: absolute;
  display: sticky;
  float: right;
  border: 0.3em solid blue;
  left: 20em;
}
.ctn-filter-by-type {
  border: 5px solid pink;
}
.ctn-filter-by-tags {
  border: 5px solid red;
}

/*
-------RESOURCE--------
*/
.ctn-resource {
  width: 50em;
  border-radius: 5px;
  border-width: 2px;
  border: solid rgb(20, 11, 93);
  background-color: rgb(119, 151, 179);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0em;
}
.ctn-resource-usage-key {
  border: solid 5px rgb(192, 255, 197);
  top: 100px;
  left: 500px;
}
