
/*
-------CATALOG_PAGE--------
*/
.add-resource-btn {
  border: 2px solid gray;
  border-radius: 20px;
  width: fit-content;
  margin: 20px auto;
  padding: 2px 5px;
}

.add-resource-btn:hover {
  border-color: rgba(34, 154, 184, 0.863);
}
/*
-------RESOURCE--------
*/
.ctn-resource {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  background-color: aliceblue;
  margin: 5px;
}
